<h1>About Us</h1>

<p>
  AntiqueHandicraft is a subsidiary of AntiqueHandicraft, Inc. headquartered at San Antonio, Texas. Established in 1998, AntiqueHouse has earned its reputation as one of the most recognized and trusted seller of authentic thankas in national as well as international markets. The company has been selling thankas to over thousands of satisfied customers for almost 15 years now, traditionally through our AntiqueHandicraft as well as electronically via AntiqueHandicraft.com

</p>
<p>
  In recent years our online portal AntiqueHandicraft.com has achieved a great success in ecommerce markets worldwide, thanks to integration of online bidding technology. Each day we host over hundreds online bids on finest thankas that have been hand painted on finest materials by well-experienced and professional artists.
</p>
<p>
  And for further, plans and policies to revamp AntiqueHandicraft.com is underway so that, we can better serve our customers, and host thousands of parallel online bids each hour as well as provide fast efficient ecommerce services to our loyal customers worldwide.
</p>

