<div class="section">
  <div>
    <h4>Welcome to AntiqueHandicraft </h4>
    <p>
      AntiqueHandicraft.com is an online portal developed with a mission to promote beautifully hand painted,crafted and antique handicrafts and artifacts. There is no debate over the fact that thankas are visual representations of the divine but these representations also portray a story which are not explained thoroughly by other websites or sources. As such, AntiqueHandicraft is committed to provide both visual representation as well as the story portrayed by them.
    </p>
    <p>
      This website, is a vision of our chief-curator and proprietor, Mr.Dinesh Gurung, who is motivated to create a safe house for art lovers who want to buy, learn,or simply admire the beauty of the art and the skills of that of the artist.
    </p>
    <p>
      Although, AntiqueHandicraft.com is well known for online bidding on thankas, we offer various products and services to our valued customers.  Some these products and services are listed as follows:
    </p>

    <ul>
      <li>
        <a href="contact.html">Thankas Bidding</a>
      </li>
      <li>
        <a href="contact.html">Thankas Sale</a>
      </li>
      <li>
        <a href="contact.html">Thankas Curation</a>
      </li>
      <li>
        <a href="contact.html">Digital Cataloguing</a>
      </li>
      <li>
        <a href="contact.html">Portrait Painting</a>
      </li>
      <li>
        <a href="contact.html">Custom Painting</a>
      </li>

      <li>
        <a href="contact.html">Newsletter</a>
      </li>
      <li>
        <a href="contact.html">Blog</a>
      </li>
      <li>
        <a href="contact.html">Gift Vouchers</a>
      </li>
    </ul>
  </div>
</div>