<h1>Contact Us</h1>

<h3>Phone Numbers</h3>
<p>
<ul>
  <li>
    Customer Service
    <ul>
      <li>
        General Customer Service: 1-800-349-2842
      </li>
      <li>
        Claims/Complaints Information: 1-800-349-2843
      </li>
      <li>
        Report Fraud To: 1-800-349-2844
      </li>
    </ul>
  </li>

  <li>
    Corporate
    <ul>
      <li>
        General Company Information: 1-800-349-2840
      </li>
    </ul>
  </li>

  <li>
    Investor Relations
    <ul>
      <li>
        Financial / Stock ownership Information: 1-800-349-2841
      </li>
    </ul>
  </li>

  <li>
    Media Relations
    <ul>
      <li>
        Dinesh Gurung: 1-800-349-2839
      </li>
    </ul>
  </li>

</ul>


<h3>Addresses</h3>
<ul>
  <li>Corporate Headquarters</li>
  <address>Antique Handicraft, Inc<br />
    7302 San Pedro Ave<br />
    San Antonio, TX 78216<br />
  </address>

  <p>
  <li>Antique Handicraft House</li>
  <address>Antique Handicraft House<br />
    7305 San Pedro Ave<br />
    San Antonio, TX 78216<br />
  </address>
  </p>

  <p>
  <li>Investor Relations</li>
  <address>Antique Handicraft, Inc<br />
    7305 San Pedro Ave<br />
    Box W37<br />
    San Antonio, TX 78216<br />
  </address>
  </p>
</ul>

</p>