
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">Phone Numbers</h3><br>
    </div>
    <div class="col-xs-6 col-sm-4">
      <strong>Customer Service</strong>
      <p>
        General Customer Service:<br>
        <abbr title="Phone">P:</abbr> 1-800-349-2842
      </p>
      <p>
        Claims/Complaints Information:<br>
        <abbr title="Phone">P:</abbr> 1-800-349-2843
      </p>
      <p>
        Report Fraud To:<br>
        <abbr title="Phone">P:</abbr> 1-800-349-2844
      </p>

    </div>
    <div class="col-xs-6 col-sm-4">
      <strong>Corporate</strong>
      <p>
        General Company Information:<br>
        <abbr title="Phone">P:</abbr>1-800-349-2840
      </p>
      <strong>Investor Relations</strong>
      <p>
        Financial / Stock ownership Information:<br>
        <abbr title="Phone">P:</abbr>1-800-349-2841
      </p>
    </div>
    <div class="clearfix visible-xs-block"></div>

    <div class="col-xs-6 col-sm-4">
      <strong>Corporate</strong>
      <p>
        General Company Information:<br>
        <abbr title="Phone">P:</abbr>1-800-349-2840
      </p>
      <strong>Media Relations</strong>
      <p>
        Dinesh Gurung: <br>
        <abbr title="Phone">P:</abbr>1-800-349-2839
      </p>
      <p>
        Santosh Jha:<br>
        <abbr title="Phone">P:</abbr> 1-800-349-2850
      </p>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-12">
        <h3 class="text-center">Addresses</h3><br>
      </div>

      <div class="col-xs-6 col-sm-4">
        <address>
            <strong>Corporate Headquarters</strong><br>
            Antique Handicraft, Inc<br>
            7302 San Pedro Ave<br>
            San Antonio, TX 78216<br>
        </address>
      </div>
      <div class="col-xs-6 col-sm-4">
          <address>
            <strong>Antique Handicraft House</strong><br>
            Antique Handicraft House<br>
            7305 San Pedro Ave<br>
            San Antonio, TX 78216<br>
          </address>
      </div>
      <div class="col-xs-6 col-sm-4">
          <address>
            <strong>Investor Relations</strong><br>
            Antique Handicraft, Inc<br>
            7305 San Pedro Ave Box W37<br>
            San Antonio, TX 78216<br>
          </address>
      </div>
    </div>
  </div>