
<table border="0">

  <tr>
    <td>
      <li><%= bid_action.bidder_id %> </li>
    </td>
    <td>
      <li><%= bid_action.bid_amount %> </li>
    </td>
    <td>
      <span class="created_at"><%= bid_action.created_at.strftime("%H:%M") %></span>
      <%=@auction_winner%>
    </td>
    <td>

    </td>
  </tr>

</table>
