<div class="bid" data-time="<%= bid_action.created_at.to_i %>">
  <table border="1" style="border-spacing: 20px; border-collapse: separate;">
    <tr>
      <td><strong><%= bid_action.bidder_id %></strong></td>
      <td><strong><%= bid_action.bid_amount %></strong></td>
      <td><em>on <%= bid_action.created_at.strftime('%b %d, %Y at %I:%M %p') %></em></td>
    </tr>
  </table>

</div>
