<h1>Home</h1>

<div id="top_ads">
  <hr>
  <h2> Special Items </h2>
  <div class="scroll">
    <table>
      <% if @specialItems %>
          <%  @specialItems.each do |special| %>
              <td>
                <dt><%= link_to image_tag(special.image_url,class: 'list_suggested_image',:border =>0),product_details_index_path(product_id: special.product_id)%></dt>
              </td>
          <%end%>
      <% end %>
    </table>
  </div>
  <br>
  <hr>

</div>


<div id="trending_items">

  <h2> What Others are viewing </h2>
  <div class="scroll">
    <table>
      <% if @trendingItems %>
          <%  @trendingItems.each do |trending| %>
              <td>
                <dt><%= link_to image_tag(trending.image_url,class: 'list_suggested_image',:border =>0),product_details_index_path(product_id: trending.product_id)%></dt>
              </td>
          <%end%>
      <% end %>
    </table>
  </div>
  <br>
  <hr>
</div>

<div id="best_sellers">
  <h2> Best Selling Items </h2>
  <div class="scroll">
    <table>
      <% if @bestSellers %>
          <%  @bestSellers.each do |best| %>
              <td>
                <dt><%= link_to image_tag(best.image_url,class: 'list_suggested_image',:border =>0),product_details_index_path(product_id: best.product_id)%></dt>
              </td>
          <%end%>
      <% end %>
    </table>
  </div>
  <br>
  <hr>

</div>
