
<div class="row">

  <div class="col-md-3">

  </div>

  <div class="col-md-9">
    <ul class="c-result-list">
      <% if @product %>
          <%  @product.each do |product| %>
              <li class="col-sm-4 c-result-item list-unstyled">
                <div class ="s-item-container">
                  <div class="spacing-mini"><%= link_to image_tag("thumbnails/" + product.image_url, class: 'img-responsive img-thumbnail'),product_details_path(product_id: product.product_id)%></div>
                  <div class="spacing-mini"><h4><%= link_to product.name, product_details_path(product_id: product.product_id) %></a></h4></div>
                  <div class="spacing-mini"><p><%= product.description[0..50] +"..." %></p></div>
                  <div class="spacing-mini"><h4><%= number_to_currency(product.price) %></h4></div>
                </div>
              </li>
          <%end%>
      <% end %>
    </ul>
  </div>

</div>