/* Achor tag css*/
$link-color: #416793 !default;

/* Text and Fonts css */
$font-family-base: "Open Sans","Helvetica Neue","Helvetica" !default;
$font-size-base: 12px !default;
$text-color: #416793 !default;
$headings-color:#9FC820 !default;

/* table css */
$table-bg-accent:#EFF5FC !default;
$table-border-color:#CEE1F4 !default;

/* list-item css */
$list-group-hover-bg:#EFF5FC !default;

#wrapper {
  min-height:100%;
  position:relative;

/* page container css */
.container{
  width: auto; margin-bottom: 30px;
  h3{color:#2A425E !important;}

  .carousel
  {
    position: relative;
  }
  .carousel:before, .carousel:after
  {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  .carousel:after
  {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto;
  }
  .thumbnail
  {
    height: 420px;/*box-shadow:5px 5px 2px #CEE1F4;*/
    border:0px solid #CEE1F4;
    background-color: #EFF5FC;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  .thumbnail:before, .thumbnail:after
  {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
  }
  .thumbnail:after
  {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
  }

  .row.row-adjust {margin-bottom: 30px; text-align: center;}
  p.lead {color:#416793; font-weight: 400;}
  .form-group{width: 500px !important;}
  #error_explanation > h2 {color:#B00100;}
}

/* header and nav css */
$nav-link-hover-bg:#9FC820;
#header {padding-bottom: 55px;
  .navigation{background-color: #EFF5FC;
    .nav {
    li > a {font-size:12px; font-weight:200;}
    }
  }
  .toolbar-wrapper {width: 100%;height: 60px;background: none repeat scroll 0% 0% #5498DA;
    .toolbar {font-size: 16px;font-weight: 200;
      ul.unstyled {margin: 0px;list-style: outside none none;
        li.fr {float: right !important;}
        li {line-height: 60px;list-style: none;display: inline; padding-left: 15px;
          a {color: #ffffff;}
          a:hover {color: #e0f8f8;text-decoration: none;}
          .search {margin: 12px 30px 0px 60px;
            .go {position: absolute;width: auto;height: auto;padding: 0px 8px;border: medium none;
              box-shadow: none;line-height: 60px;background: none repeat scroll 0% 0% transparent;
              color: #888;outline: medium none;}
          }
          .fr {float: right !important;
            a:hover {color: #ffffff !important;}
          }
        }
      }
    }
  }
}
/* end of header and nav css */

/* footer css */
#footer{width: auto; background-color: #337AB7;	width:100%;
  height:120px;
  position:absolute;
 // bottom:0;
  left:0;
    ul > li {
      list-style: none; margin-left: -40px;
      a {color: #ffffff;}}
}
}
@import "bootstrap-sprockets.scss";
@import "bootstrap.scss";

